.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
  /* color: #090C9B; */
  font-family:'Forque-M3An', sans-serif ;
}

@font-face {
  font-family: 'Forque-M3An';
  src: 
    local('Forque-M3An'),
    url('../src/Assets/fonts/Forque-M3An.ttf')
    format('truetype');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background-color: #BCB382;
  height: 100%;
  /* background: url(../src/Assets/images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden; */
}

